5. Product video Generation Workflow.json
{
  "name": "5. Product video Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file : For Further reference').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        944,
        656
      ],
      "id": "b89e02be-52f7-420b-b4cf-372956d4f35f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4WOHyJQrlP95eZp9",
          "name": "Google Drive account AIS"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        656
      ],
      "id": "4923b562-f08a-4310-911d-07fe6e28f88e",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb8ff8fd-ce3f-43ac-b041-f23920d6a320",
              "leftValue": "={{ $json.status }}",
              "rightValue": "RUNNING",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        960
      ],
      "id": "3b4abd4c-2964-431b-83b6-75ebbfc16a2d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        1200
      ],
      "id": "42a1958d-055a-41c5-b03f-0b626d64f025",
      "name": "Wait 5 Sec",
      "webhookId": "8d354caa-3d51-4811-ad53-4719edf16b3e"
    },
    {
      "parameters": {
        "sendTo": "sachinsavkare08@gmail.com",
        "subject": "Marketing Materias: Product Title ",
        "emailType": "text",
        "message": "=Hey !\n\nHere is your photo: {{ $('Get Public URL').item.json.data.url }}\n\nHere is your Video: {{ $json.output[0] }}\n\nCheers !",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        976
      ],
      "id": "d09db699-49c2-4d03-be98-07efc5ddfb97",
      "name": "Send a Finished Products",
      "webhookId": "7ea33360-941c-4493-8e87-a365852038a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "eCK4EFn7FCxilJEq",
          "name": "Gmail AIS"
        }
      }
    },
    {
      "parameters": {
        "content": "## Form Trigger",
        "height": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        608
      ],
      "id": "58d23a7f-adbc-4227-8a47-a7c7645c34c4",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Upload File\n\n",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        608
      ],
      "id": "f8580534-a4b6-4a85-a229-097072591f23",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Image Prompt\n\n",
        "height": 288,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        544
      ],
      "id": "47b3ee66-9bda-4e83-9eec-fcd8a2414beb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Download File\n\n",
        "height": 256,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        576
      ],
      "id": "df44599a-e5c1-4fe0-b0a4-0123add96f2f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Image Generation\n",
        "height": 256,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        576
      ],
      "id": "015f777a-fe68-4e45-a99a-e3a5740cf395",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Video Generation",
        "height": 448,
        "width": 784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        880
      ],
      "id": "a806b481-8d9b-4318-a9e7-f5e24ff43ca4",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Get Public URL : Image BB\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 448,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        880
      ],
      "id": "4640214b-cba2-47c6-be1b-89b0bd1369ff",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Done",
        "height": 272,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        880
      ],
      "id": "bbaf3016-1960-41e1-a75a-e824d031ab2e",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Polling",
        "height": 208,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        1120
      ],
      "id": "e7661455-5437-4487-96de-4f9ed7c4d31f",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Process :\n\n1. On form Submission : Upload picture of product, Product Name , Product description, and my email Address\n2. Upload the Photo\n3. Get Image Prompt\n4. We will Download that Photo\n5. Create a Professional Graphic\n6. Uploading to API to geta public URL \n7. Feed that URL of the Image to Generate a Professional Video\n8. Wait 30 Sec if Video is done , If its not done we will wait fro 5 Sec and again Check to Get Video \n\nSystem Wikflow : where we are creating an Image from text and Then Creating a video from that Image \nIMP Things : Image Prompt and Video Prompt",
        "height": 320,
        "width": 1440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -768
      ],
      "id": "fc31d33a-d44c-4af9-8fc9-7c9c0b31d017",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "prompt",
              "value": "={{ $('Product Photography Prompt Agent').item.json.output }}"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        656
      ],
      "id": "e049b439-56d4-423b-a07b-38119b3f4284",
      "name": "Create Graphic (Open AI)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GDg1hzKpkf1SuQ5d",
          "name": "Tavily Credentials AIS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        1024
      ],
      "id": "ae19c39c-c27a-4352-aa26-6d548100f57a",
      "name": "Get Public URL",
      "credentials": {
        "httpQueryAuth": {
          "id": "g1fuvWQKAxBUdmjO",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.runwayml.com/v1/image_to_video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"promptImage\": \"{{ $json.data.url }}\",\n  \"model\": \"gen4_turbo\",\n  \"ratio\": \"960:960\",\n  \"promptText\": \"Create a highly professional marketing video from the provided product photo. Simulate a smooth, realistic 3D turntable rotation around the product, as if the product is slowly rotating in place. The movement should be continuous, slow, and elegant — no sudden pans, jerks, or camera cuts. Always keep the entire product fully in frame, centered, and clearly visible at all times. Avoid zooming in or cropping. Focus on a premium, clean, and modern aesthetic that feels suitable for commercial marketing materials. No flashy effects, transitions, or overlays — only a subtle, realistic 3D rotation that highlights the product in the most polished way possible.\",\n  \"duration\": 5\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        960
      ],
      "id": "62157a58-549e-4d04-828a-2e9a617ccccd",
      "name": "Generate videos RUNWAY API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GDg1hzKpkf1SuQ5d",
          "name": "Tavily Credentials AIS"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        960
      ],
      "id": "8d2eb6be-2f08-4a11-8513-26a73bf3c291",
      "name": "Get Videos (RUNWAY API) : Get a Task details",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GDg1hzKpkf1SuQ5d",
          "name": "Tavily Credentials AIS"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        960
      ],
      "id": "7bb16911-58a9-433f-a6c6-e94aea727cfa",
      "name": "Wait 60 Sec",
      "webhookId": "da74b965-7c6b-43f1-8838-13f7720968e6"
    },
    {
      "parameters": {
        "formTitle": "Go 2 Market",
        "formDescription": "Give us a Product photo, title and Description and we will get back to you with Professional Marketing Materials.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Product Photo",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Product Title",
              "placeholder": "ToothPaste",
              "requiredField": true
            },
            {
              "fieldLabel": "Product Description",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ",
              "fieldType": "email",
              "placeholder": "name@example.com",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        112,
        672
      ],
      "id": "1a35bef2-78e3-4cf3-b5f4-014e20d84798",
      "name": "On form submission",
      "webhookId": "fd52db22-b3af-4221-8bf0-c6751142c921"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        736
      ],
      "id": "72135c21-e7e8-4b6c-94c7-3a4ecc49b03b",
      "name": "GPT 4.1",
      "credentials": {
        "openRouterApi": {
          "id": "czIsN4rd8sIKdRuL",
          "name": "OpenRouter AIS"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Product_Photo",
        "name": "={{ $json['Product Title'] }} (Original)",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "11Hz4ECz5MopXJ4hd64jtDHLP7w5oqdH0",
          "mode": "list",
          "cachedResultName": "Product Creatives AIS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11Hz4ECz5MopXJ4hd64jtDHLP7w5oqdH0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        672
      ],
      "id": "95111621-04c9-494f-9d4f-67d87cd43e4e",
      "name": "Upload file : For Further reference",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4WOHyJQrlP95eZp9",
          "name": "Google Drive account AIS"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are a world-class marketing strategist and an expert text-to-image prompt engineer\nspecializing in creating hyper-realistic, high-quality product photography prompts for AI image\ngeneration models.\n\n## Your Objective:\nWhen given a product description, your task is to craft a detailed, professional prompt that\nresults in a hyper-realistic, clean, and visually stunning product image suitable for marketing\nmaterial, advertising campaigns, or e-commerce platforms.\n\n## Key Requirements:\n- Focus on hyper-realistic, professional studio photography.\n- Maintain a clean, minimalistic, and elegant visual style.\n- Highlight the product as the main subject with sharp detail and perfect lighting.\n- Use backgrounds that complement but do not overpower the product (e.g., soft gradient,\nlight-colored, or pure white).\n- Include professional lighting details such as \"softbox lighting\", \"studio lights\", or \"natural soft\nshadows\".\n- Emphasize realism, texture, and color accuracy.\n- Maintain a high-end, premium look and feel.\n- If applicable, suggest a subtle setting that enhances the product's story (e.g., a luxury kitchen\ncounter for a high-end blender).\n\n## Output Format:\n- Write a single text-to-image prompt optimized for a professional AI image model.\n- Be direct and descriptive without using excessive words.\n- Avoid unnecessary repetition or adjectives that do not enhance the image quality.\n- Ensure the prompt is complete and ready for direct input into an AI model.\n\n## Tone:\nProfessional, precise, clean, and optimized for maximum realism and marketing impact.\n# Example Input:\n\"A premium wireless Bluetooth speaker in matte black, cylindrical shape, modern design.\"\n\n# Example Output:\n\"Hyper-realistic product photo of a premium matte black wireless Bluetooth speaker with a\ncylindrical modern design, centered on a clean white studio background, softbox lighting with\nnatural shadows, sharp focus on texture and material, minimalistic, professional advertising\nshot.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        608
      ],
      "id": "a380132d-9b7f-49de-b72c-03de54ead098",
      "name": "Product Photography Prompt Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Create Graphic (Open AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Get Public URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait 5 Sec",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a Finished Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Sec": {
      "main": [
        [
          {
            "node": "Get Videos (RUNWAY API) : Get a Task details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Graphic (Open AI)": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Public URL": {
      "main": [
        [
          {
            "node": "Generate videos RUNWAY API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate videos RUNWAY API": {
      "main": [
        [
          {
            "node": "Wait 60 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos (RUNWAY API) : Get a Task details": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60 Sec": {
      "main": [
        [
          {
            "node": "Get Videos (RUNWAY API) : Get a Task details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload file : For Further reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Product Photography Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload file : For Further reference": {
      "main": [
        [
          {
            "node": "Product Photography Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Photography Prompt Agent": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e6f3443-d04f-423b-a8e1-97ef3f416ad1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91f42292365f2736b62ea45ddfd531a5d9a185f2bc4a363bfb1ae1188ac76851"
  },
  "id": "rO7VwX0dLVlRUHio",
  "tags": []
}